extends ../layouts/main

block styles
    link(rel="stylesheet" href="/css/form.css")

block content
    .form-container.register-form
        h1.form-title Register

        if !registrable
            .alert.alert-warning Registrations on this server are closed.
        else if flashMessage
            .alert.alert-danger #{flashMessage}

        if registrable
            form(method="POST" action="/register")
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                input(type="text" name="username" placeholder="Username" value=`${inputValues ? inputValues.username : ''}` autofocus="on").input.input-primary
                input(type="email" name="email" placeholder="Email" value=`${inputValues ? inputValues.email : ''}`).input.input-primary
                input(type="password" name="password" placeholder="Password").input.input-primary
                input(type="password" name="password_confirm" placeholder="Confirm Password").input.input-primary
                button(type="submit").btn.btn-primary Register

        p.info-text #{!registrable ? 'Already an admin?' : 'Already have an account?'} &nbsp;
            a(href="/login") Login